/* Parametric mixin for headings */
/* End parametric mixin for headings */
.buttonMasher {
  background-color: #9b4f95;
  color: #ffffff;
  border: 2px #66165f solid;
  padding: 3px 8px;
  border-radius: 5px;
}
.buttonSlasher {
  background-color: #e4db74;
  border: 2px #968d20 solid;
  color: #000000;
  text-decoration: none;
}
