/*
File Name: style.less
Date: 09/26/18
Programmer: Illya King
*/
/*
CHANGES DONE:
- Revamp Website with Bootstrap Coding
- Beautify Code
*/
/* MOBILE STYLESHEET */
/* Parametric mixin for headings */
/* End parametric mixin for headings */
.buttonMasher {
  background-color: #9B4F95; color: #ffffff;
  border: 2px #2c0557 solid;
  padding: 3px 8px;
  border-radius: 5px;
}

.buttonSlasher {
  background-color: #E4DB74;
  border: 2px #968D20 solid;
  color: #000000;
  text-decoration: none;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #9B4F95;
}

body a :hover {
  color: #030106;
}

body p {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 300;
}

body label {
  font-family: "Montserrat", Arial, sans-serif;
}

body img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px 0;
}

h1 a {
  color: #ffffff;
}

h1 a:link {
  color: #ffffff;
}

h1 a:visited {
  color: #ffffff;
}

h1 a:hover {
  color: #706908;
}

h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

#s {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #9B4F95; border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#submit,
#searchsubmit {
  background-color: #9B4F95; color: #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

#submit:hover,
#searchsubmit:hover {
  background-color: #E4DB74;
  color: #9B4F95; cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
}

main {
  margin-top: 20px;
}

main .primary {
  background: #ffffff;
  color: #000000;
  padding: 10px;
}

main .primary h2 {
  color: #9B4F95;
}

main .secondary {
  background: #ffffff;
  color: #000000;
  padding: 10px;
}

main .secondary h2 {
  color: #9B4F95;
}

main .triad {
  background: #ffffff;
  color: #000000;
  padding: 10px;
}

main .triad h2 {
  color: #9B4F95;
}

main .tetrad {
  color: #ffffff;
  padding: 10px;
}

main .tetrad h2 {
  color: #ffffff;
}

main .tetrad label {
  color: #ffffff;
}

footer {
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}

footer a {
  color: #ffffff;
  font-weight: 300;
}

footer a:hover {
  color: #E4DB74;
  text-decoration: none;
}

footer p {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 300;
}

footer .footerBox {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 10px 0;
  padding-top: 20px;
}

footer .footerBox ul {
  padding: 5px;
}

footer .footerBox ul li {
  padding: 5px;
}

.footerMenu {
  background-color: #000000;
}

.footerMenu ul {
  margin-bottom: 0;
  padding: 10px;
}

.footerMenu ul a {
  color: #ffffff;
  font-weight: 300;
}

.footerMenu ul a:link {
  color: #ffffff;
}

.footerMenu ul a:visited {
  color: #ffffff;
}

.footerMenu ul a:hover {
  color: #E4DB74;
  text-decoration: none;
}

.footerMenu ul li {
  display: inline-block;
  font-family: "Montserrat", Arial, sans-serif;
  margin-right: 20px;
}

/* Blog Posts */
.pager li a,
.pagination a span,
.pagination li a {
  background-color: #9B4F95; color: #ffffff;
  border: 2px #2c0557 solid;
  padding: 3px 8px;
  border-radius: 5px;
}

.pager a:hover,
.pager li a:hover,
.pagination a:hover span,
.pagination li a:hover,
.pagination .current {
  background-color: #E4DB74;
  border: 2px #968D20 solid;
  color: #000000;
  text-decoration: none;
}

/* Media Queries */
/* used for xs devices */
@media (min-width: 768px) and (max-width: 991px) {
  .starter-template {
    min-height: 450px;
  }
}

/* used for sm devices, tablets */
@media (min-width: 992px) and (max-width: 1199px) {
  .starter-template {
    min-height: 650px;
  }
}

/* used for md devices, smaller desktops */
@media (min-width: 1200px) {
  .starter-template {
    min-height: 750px;
  }
}

/* used for lg devices, larger desktops */